body {
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0%;
}
.navbar {
    background-color: white;
    color: black;
    padding: 5px 10px ;
    text-align: center;
    justify-content: space-evenly;
    position: relative
    

       
}
.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.logo-image {
    max-width: 15%;
    margin-right: 10px;
}
.logo-text {
    font-weight: bolder;
    margin-bottom: 0px;
}
.logo-slogan {
    font-size: 10px;
}
.navbar-nav .nav-link {
    color: black;
    margin-right: 15px;
    display: inline;
    
}
.nav-item {
    float: left;
    justify-content: space-around;
    border-radius: 50px;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
    text-align: center;
    list-style-type: none;
    margin: 0;  
}
.button {
    background-color: cornflowerblue;
    border: 12%;
}

.hero-section {
    position: relative;
    background-image: url('assets/images/hand-businessman-pressing-virtual-button-man-hand-businessman-pressing-virtual-button-169314624.webp');
    background-size: cover;
    padding: 100px 100px;
    max-height: 20%;
}
.hero-section{
    padding: 20px;
}
.hero-title{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.hero-section-text {
    position: relative;
    top: 85px;
}
.custom-btn {
    display: flex;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
}

.hero-form {
    padding-left: 50px;
    background-color: rgb(60, 60, 107);
    border-radius: 5px;
    margin-bottom: 300px;
    text-align: center;

}
.custom-form {
    width: 40%;
    height: 350px;
    padding-right:  50px;
    border-radius: 5px;
    margin-left: 50%;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    bottom: 30px;
}
.text-white{
    position: relative;
    top: 15px;
}
.col-md-6 {
    display: inline;
    justify-content: space-between;
    padding: 25px 15px;
}
.col-12 {
    position: relative;
    top: 20px;
    right: 3%;
    max-height: 100%;
    
}

.form-control {
    border-radius: 12px;
    color: rgb(161, 118, 118);
    padding: 15px 32px;
    text-align: center;


}
.popular-keywords{
    margin-top: 29px;
    display:flex;
    text-align: center;
    position: relative;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 25%;
    top: 14px;

}
.reg {
    background-color: rgb(60, 60, 107);
}
.categories {
    border-radius: 12px;
    max-width: 15%;
    font-size: x-small;
}
